<html>
<head>
  <title>No One Should See This Title</title>
</head>
<body>

<h1>I am so a page in a marketplace app.</h1>

<h2>Look on my tags, ye mighty, and despair!</h2>

<p>
Also, this <a href="other">link</a> should hopefully work at some point.
</p>

<h2>Sample / Test Links</h2>
<ul>
  <li><a href="params_get">dump params (GET)</a> </li>
  <li><a href="form">basic form</a> </li>
  <li><a href="form_plus_redir">form which issues redirect</a> </li>
  <li><a href="images">page with images from another (https) server</a> </li>
  <li><a href="remote_css">css from another server</a></li>
  <li><a href="remote_js">js + ajax</a></li>
  <li><a href="verify_signed_request">verify request signatures</a></li>
</ul>
</body>
</html>
