<html>
<head>
  <title>No One Should See This Title</title>
</head>
<body>

<h1>Allow me to demonstrate some images</h1>

Oooh, we're loading an image...

<br>

<img src="//static.hubspot.com/img/easterEgg/delorian.png"/>

<br>
<br>
For all you web geeks out there, note that we've got the img src set to the following URI:

<br>
<b>//static.hubspot.com/img/easterEgg/delorian.png</b>

<br> Which is to say, it will be either https or http as appropriate (but
the remote server <b>must</b> support both)

<br>
<br>
And now, please return to the <a href="home">main screen...</a>
</body>
</html>
